.credit-check-page .content {
  padding-top: 138px; /* Height of the header */
}

.credit-check-page .credit-check-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: Top;
  width: 80vw; /* 80% of viewport width */
  height: 60vh; /* 60% of viewport height */
  border-radius: 9px;
  background-color: #006664;
  margin: auto;
  color: white;
}

.credit-check-page .credit-check-container h1 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1em;
}

.upload-section {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.upload-text {
  margin-right: 12px;
  font-size: 16px;
  color: white;
}

.error-popup {
  color: red;
  margin-top: 1em;
}
