.credit-check-page .content {
  padding-top: 138px; /* Height of the header */
}

.credit-check-page .credit-check-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw; /* 80% of viewport width */
  height: 70vh; /* 60% of viewport height */
  border-radius: 9px;
  background-color: #006664;
  margin: auto;
  color: white;
  position: relative;
}

.credit-check-page .credit-check-container input[type="file"],
.credit-check-page .credit-check-container .button {
  margin: 1em auto; /* Center buttons horizontally */
}

.upload-section {
  display: flex;
  align-items: center;
  margin-bottom: 0.1em;
}

.upload-section span {
  flex-shrink: 0; /* Prevent the text from shrinking */
  width: 250px; /* Set a fixed width for alignment */
  text-align: left; /* Align text to the right */
}

.upload-text {
  margin-right: 12px;
  font-size: 16px;
  color: white;
}

.message-container {
  padding: 1em;
  width: 100%;
  border-radius: 0px;
  margin-top: 1em;
  text-align: center;
  color: white;
  position: fixed; /* Make it a popup */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it is above other elements */
  background-color: rgba(255, 255, 255, 0); /* Adjust transparency */
}

.error-message {
  background-color: #e10505b8;
  color: white;
  font-size: 3.5em;
  margin-top: 1em;
  text-align: center;
}

.success-message {
  background-color: #00ca39b8;
  color: white;
  font-size: 3.5em;
  margin-top: 1em;
  text-align: center;
}

.button-container {
  position: absolute;
  top: 1.3em;
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.faded {
  opacity: 0.3;
  pointer-events: none; /* Make it non-clickable */
}

.calculate-button {
  width: 132px;
}

.left-tab, 
.right-tab {
  width: 35px;
  height: 100vh;
  background-color: #B2BB1E;
  position: absolute;
  top: 0;
}