.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 138px; 
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.logo {
  height: 110px;
  width: 120px;
}

.header-line {
  width: 100%;
  height: 18px;
  background-color: #006664;
}

.logo {
  background-image: url('/assets/KU_Logo_JPG.jpg'); 
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px; 
  height: 100px;
  margin-top: 8px;
  margin-bottom: 20px; /* เพิ่มระยะห่างจาก Bottom Tab */
}